
   
   .vs_testimonial_sldr .owl-stage-outer{
   position:relative;
   overflow:hidden;
   -webkit-transform:translate3d(0,0,0)
   } 
   
   .vs_testimonial_sldr .owl-item{
   min-height:1px;
   float:left;
   -webkit-backface-visibility:hidden;
   -webkit-touch-callout:none
   } 


   





