/*-------  Responsive sheet V1.o Created and Developed By Volive solutions --------*/

@media (min-width:1200px){
    
    
}

@media (min-width: 320px) and (max-width: 480px) {
    .vs_img_ovrly_txt h2 {
    margin-top: 0px;
    color: #FFF;
    font-size: 25px;
    }
    .vs_banner_head {
    position: relative;
    top: 60px;
    text-align: center;
}
    .vs_banner_head_main {
    display: block;
    justify-content: center;
}
ul.vs_menu_item {
    justify-content: center;
    display: block;
    padding: 20px;
}
.vs_heading_title h1 {
    font-size: 35px;
}
.vs_img_ovrly_txt p {
 padding: 0px ;
    
}
    .vs_testimonial_bg {
    background: none;
    padding-top: 300px!important;
    padding: 10px;
}
.vs_testimonial_bg:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -15px;
    background-image: url(../img/54sac85sa.png);
    width: 260px;
    height: 244px;
    background-size: cover;
}
    .vs_find_plmbr_cnt p {
    font-size: 15px;
   line-height: 30px;
}
    .vs_find_plmbr_cnt {
    width: 100%;
    }
    .vs_find_plumber {
    width: 100%;
    margin: auto;
}
.vs_all_banner {
    height: 150px;
}
	.home-input::-webkit-input-placeholder{
	    font-size:10px!important;
	}
	.vs_find_plumber input[type="text"] {
    padding: 0px 0px 0px 29px !important;
	}
  .vs_h3_head {
    font-size: 22px;
    margin-bottom: 15px;
}
.vs_nwsletr_cnt h3 {
    font-size: 20px;
}
.plum-address{
    display:block!important;
}

.vs_all_banner_head h1 {
    font-size: 20px;
}
.vs_heading_title p {
    color: #000000;
}
.vs_img_ovrly_txt {
    top: 5%;
}
.vs_nwsletr_cnt h2 {
    font-size: 30px;
}
div#myModal h2 b {
    font-size: 20px;
}
form#add_testimonaial h5 {
    font-size: 14px;
}
.cont-detail {
    margin: 0px!important; 
}
.vs_plumber_database_page h1 {
    font-size: 20px;
}
.vs_sctn_space {
    padding: 20px;
}
.vs_plumber_create h1 {
    font-size: 22px;
}
.row-100{
    display:block!important;
}
.con-main {
    padding: 20px!important;
}
.vs_abt_cnt {
    padding-left: 0px!important;
    padding: 20px;
}
  .vs_find_plumber button h5 {
    font-size: 12px;
        padding-top: 5px;
} 
.vs_testimonial_form .vs_contanct_form {
     padding: 0px; 
}
.vs_plumber_profile_banner_img2{
    margin-left:0px!important;
}
.plum-profile-main {
    height: auto!important;
    padding-bottom: 20px;
}
.con-main-sm{
    padding:0px;
}
.vs_contact_call {
    background-color: #ffd600 !important;
    height: 100%!important;
}
.vs_plumber_profile_banner_button button {
    width: 95%;
    text-align: center;
}
.vs_button_menu {
    justify-content: initial;
}

.plum-profile {
    background-color: #f3f2f2;
    box-sizing: border-box;
    border-radius: 10px;
        margin-bottom: 91px;
    padding-bottom:20%;
}
.plum-profile-img {
    bottom: -50%;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-bottom: 8px;
}
.sent-padding{
    padding:20px!important;
}
   .vs_find_plumber input[type="text"] {
    width: 70%;
        font-size:10px!important;
   }
   .vs_find_plumber button p {
    font-size: 10px;
    line-height: 12px;
}
.vs_contact_call {
    background-color: #ffd600 !important;
    padding: 10px!important;
}
.vs_contanct_form h1 {
    font-size: 21px;
}
.vs_plumber_create_from_button button{
    padding:0px;
}

.vs_plumber_create_from .row.typeOfPlumber .form-check {
    width: 100%!important;
}
.vs_test_head.py-4 h1 {
    font-size: 22px;
}
.vs_all_banner_head {
    width: 100%;
}
/*   .vs_testimonial_bg:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 5px;*/
/*    top: 26px;*/
/*    background-image: url(../img/54sac85sa.png);*/
/*    width: 140px;*/
/*    height: 130px;*/
/*    background-size: cover;*/
/*}*/
/*.vs_testimonial_bg:before {*/
/*    margin: 0px; */
/*    right: 0;*/
.top-header-right{
       width:30%!important;
}
.top-header-left{
    width:70%!important;
}
.switcher .selected a {
    width: 90px!important;
        font-size: 9px;
}
.top-header {
    display: inline-flex;
    width:100%;
}
.vs_testimonial_bg {
    background-image: none!important;
}
.vs_cpyrit p {
    font-size: 13px;
}
.vs_srvces_bg {
    padding: 170px 0px 90px;
}
.vs_tp_br {
    display: block;
}
.vs_tp_br p{
    display:none;
}
.top-header-middle {
    display: none;
}
.switcher{
    float:right;
    width: 90px!important;;
}
button.vs_menu-toggle2.active {
    top: 37px;
    right: 0px;
}
.vs_banner_head .vs_banner_head_span1, .vs_banner_head .vs_banner_head_span2 {
    font-size: 18px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    

.vs_testimonial_bg {
background-image:none!important;
}
.vs_testimonial_bg:before {
    margin-top: 40px!important;
}
.vs_testimonial_bg {
    background: none;
    padding-top: 330px;
}
.respon-text {
    padding-right: 0px!important;
    justify-content: left!important;
}
.vs_plumber_form {
    margin: 0px 0px!important;
}
.vs_plumber_profile_banner_button {
    position: absolute!important;
    right: 2%;
    width: 66%;
    top:65%!important;
}
.plum-profile-main {
    height: 380px!important;
}
.regis-create h1 {
    font-size: 25px;
}
.vs_img_ovrly_txt {
    top: 10%;
}
.vs_tp_br {
     display: block!important; 
}
.vs_tp_br p {
    font-size: 12px;
    display: none;
}
.top-header {
    width: 100%;
    display: inline-flex;
}
.top-header-left {
    width: 50%;
}
.top-header-right {
    width: 50%;
    text-align:right;
}
.top-header-middle{
    display:none;
}
.switcher{
    float:right;
}
.vs_banner_head .vs_banner_head_span1, .vs_banner_head .vs_banner_head_span2 {
    font-size: 40px;
}
.vs_all_banner_head{
    width:100%;
}
    
}